@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
:root {
  --color1: hsl(256, 26%, 20%);
  --color2: hsl(216,30%,68%);
  --color3: hsl(270, 9%, 17%);
  --color4: hsl(273, 4%,51%);
  --color5: hsl(0,0%,98%);
  --color6: blue;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Karla';
}
menu {
  padding: 0;
}
.heading {
  font-family: 'DM Serif Display';
}

/*footer*/
.footer-header {
  background-image: url('../img/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
/*  background-size: contain;*/
  display: flex;
  flex-direction: column;
}
.footer-header::after {
  content: "";
  border-bottom: 1px solid var(--color4);
}
.footer-logo {
  padding: 3.5rem 0 2rem;
}
.footer-logo-image {
  display: block;
  margin: auto;
}
.footer-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;
  padding-bottom: 2rem;
}
.sitemap {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.sitemap:last-child {
  padding-bottom: 2.5rem;
}
ul {
  list-style-type: none;
  border: none;
  padding: 0;
}
li.sitemap-header.sitemap-list-item {
  padding: 2rem 0;
  color: var(--color4);
}
li.sitemap-list-item {
  text-transform: uppercase;
  color: var(--color3);
  font-weight: 700;
  padding-top: 1rem;
  text-align: center;
}
