@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
:root {
  --color1: hsl(256, 26%, 20%);
  --color2: hsl(216,30%,68%);
  --color3: hsl(270, 9%, 17%);
  --color4: hsl(273, 4%,51%);
  --color5: hsl(0,0%,98%);
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Karla';
}
/*header*/
.header-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.header-image-logo, .header-hamburger {
  display: block;
}
.header-hamburger:hover {
  cursor: pointer;
}
.modal {
  overflow: auto;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: var(--color3);
  background-image: url('../img/bg-pattern-mobile-nav.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 6rem;
}
/* span close
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
  color: red
}
.close:hover{
  cursor: pointer;
  color: red;
}*/
.nav {
  padding-top: 2rem;
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.nav-list {
  padding: .75rem 0;
}
.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color5);
  transition: 0.3s;
}
.nav-item:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--color4);
  transition: width 2s linear 2s;
}
.nav-list:last-child {
  border: 2px solid var(--color5);
  margin: 0 3rem;
}
.image-intro {
  display: block;
  max-width: 550px;
  width: 100%;
}
menu {
  margin-top: 0;
  padding: 0;
}
.heading {
  font-family: 'DM Serif Display';
}
.intro-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color1);
  background-image: url('../img/bg-pattern-intro-left-mobile.svg'), url("../img/bg-pattern-intro-right-mobile.svg");
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;
}
.menu-hr.intro-hr {
  display: none;
}
.intro-heading {
  color: var(--color5);
  letter-spacing: 2px;
}
.intro-card-description {
  text-align: center;
  color: var(--color5);
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
}
.how-we-work-button.intro-button {
  margin: auto;
}
.menu-hr {
  margin: auto;
  width: 50%;
  margin-top: 7.5rem;
}
.page-title {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color3);
  letter-spacing: 2px;
}
.card {
  padding: 2rem;
}
.card-image {
  display: block;
  margin: auto;
}
.card-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.card-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-top: 1rem;
}
.card-description {
  color: var(--color4);
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 400;
}
/*aside how we work*/
.how-we-work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 2rem;
  margin: 7.5rem 2rem;
  background-image: url('../img/bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
}
.how-we-work-title, .intro-heading {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.how-we-work-button {
  border: 2px solid var(--color5);
  outline: none;
  margin: 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.how-we-work-button:hover {
  cursor: pointer;
  background-color: var(--color5);
  color: var(--color1);
}
.how-we-work-title, .how-we-work-button, .intro-heading {
  color: var(--color5);
  letter-spacing: 2px;
}
.how-we-work-card, .how-we-work-button {
  background-color: var(--color1);
}

/*footer*/
.footer {
  background-color: var(--color5);
}
.footer-hr {
  width: 80%;
}
.footer-header {
  background-image: url('../img/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
/*.footer-header::after {
  content: "";
  border-bottom: 1px solid var(--color4);
}*/
.footer-logo {
  padding: 3.5rem 0 2rem;
}
.footer-logo-image {
  display: block;
  margin: auto;
}
.footer-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;
  padding-bottom: 2rem;
}
.sitemap {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.sitemap:last-child {
  padding-bottom: 2.5rem;
}
ul {
  list-style-type: none;
  border: none;
  padding: 0;
}
li.sitemap-header.sitemap-list-item {
  padding: 2rem 0;
  color: var(--color4);
}
li.sitemap-list-item {
  text-transform: uppercase;
  color: var(--color3);
  font-weight: 700;
  padding-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 550px) {
body {
  overflow-x: hidden;
}
/*menu.page-dimensions:not(:first-child){
  width: 100%;
  padding: 0;
}*/
.page-dimensions {
    width: 80%;
    margin: auto;
  }
.page-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .header-hamburger {
    display: none;
  }
  .modal {
    width: 100%;
    background: none;
    position: inherit;
    height: auto;
    z-index: 0;
    margin: 0;
    transition: none;
  }
  .nav {
    padding: 0;
  }
  .nav-ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .nav-list {
    padding: 0.75rem 1rem;
  }
  .nav-list:last-child {
    border: 2px solid var(--color4);
  }
  .nav-item {
    color: var(--color4);
  }
  .image-intro {
    position: absolute;
    top: 25%;
    right: 18%;
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  menu, footer {
    padding: 0 2.5rem;
  }
  /*.intro {
    width: 100vw;
    padding: 0;
    margin: 0;
  }*/
  .page-dimensions > section.intro > .intro-card.card {
    width: 100%;
  }
  .intro-card {
    min-height: 500px;
    height: 100%;
    width: 100vw;
    max-width: 100%;
  }
  .intro-hr.menu-hr {
    margin-top: 4rem;
  }
  .container {
    margin-top: 10rem;
  }
  .menu-hr {
    width: 10%;
    margin-left: 1rem;
    border: 1px solid var(--color4);
    color: var(--color5);
  }
  .intro-heading.heading{
    text-align: left;
    font-size: 3rem;
    width: 45%;
  }
  .intro-card-description{
    width: 45%;
    text-align: left;
    font-size: 1.1rem;
  }
  .how-we-work-button.intro-button {
    margin-left: 0px;
    margin-bottom: 1rem;
  }
  .page-title {
    text-align: left;
    padding: 2rem 1rem;
    font-size: 3rem;
  }
  .content {
    display: flex;
    justify-content: flex-start;
  }
  .card-image {
    margin: 0;
  }
  .card-container {
    align-items: first baseline;
    text-align: left;
  }
  .how-we-work-card {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    margin: 7.5rem 0;
    background-image: url('../img/bg-pattern-how-we-work-desktop.svg');
  }
  .how-we-work-title {
    font-size: 2.5rem;
    width: 40%;
  }

  .footer {
    background-image: url('../img/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }
  .footer-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3.5rem;
    background-image: none;
  }
  .footer-logo {
    padding: 0;
  }
  .sitemap {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;
    width: 80%;
  }
  hr.footer-hr {
    width: 80%;
    height: 1px;
    border: 1px solid var(--color4);
    /*color: var(--color5);
    background-color: var(--color5);*/
  }
}
@media screen and (min-width: 1400px) {
  .image-intro {
    position: absolute;
    top: 18%;
    right: 18%;
    max-width: 450px;
    width: 100%;
    height: auto;
  }
}
